# Applied DataScience Capstone Assignment

## 1) Dataframe Scraped from Wikipedia

In [1]:
import json 
from geopy.geocoders import Nominatim 

import requests 
from pandas.io.json import json_normalize 

import matplotlib.cm as cm
import matplotlib.colors as colors


from sklearn.cluster import KMeans

import folium
import wget
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

tables = pd.read_html(link)
data=tables[0]
data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### Editing the dataframe

In [3]:
df=pd.DataFrame(data)

df.drop(df.loc[df['Borough']=='Not assigned'].index,inplace=True)

df['Neighbourhood'].replace(to_replace='Not assigned',value="Queen's Park",inplace=True)

df1=df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()
df1.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [5]:
df1.shape[0]

103